/* variables */
:root {
  --bgcolor: rgb(250, 250, 250);
  --fontcolor: rgb(26, 26, 26);
  --fontcoloralt: rgb(88, 88, 90);
  --linkcolor: rgb(238, 51, 51);
  --bordercolor: rgb(230, 230, 230);
  --prebgcolor: rgb(240, 240, 240);
  --prebgcolor2: rgb(225, 225, 225);
  --prescolor: rgb(3, 106, 6);
  --premcolor: rgb(0, 0, 205);
  --prekcolor: rgb(88, 92, 246);
  --preopcolor: rgb(104, 118, 135);
  --preccolor: rgb(76, 136, 107);
  --prelncolor: rgb(127, 127, 127);
  --prehlcolor: rgb(255, 255, 204);
  --body-font-size: 1.2rem;
  --line-height: 1.75rem; 
  --h1-font-size: 1.75rem; 
  --h2-font-size: 1.5rem; 
  --small-font-size: 1rem; 
}

@media (max-width: 650px) {
  :root {
    --body-font-size: 1.125rem;
    --line-height: 1.575rem;
    --h1-font-size: 1.625rem;
    --h2-font-size: 1.375rem;
    --small-font-size: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgcolor: rgb(30, 31, 32);
    --fontcolor: rgb(210, 210, 210);
    --fontcoloralt: rgb(166, 166, 166);
    --linkcolor: rgb(238, 51, 51);
    --bordercolor: rgb(77, 77, 77);
    --prebgcolor: rgb(20, 20, 21);
    --prebgcolor2: rgb(10, 10, 11);
    --prescolor: rgb(3, 106, 6);
    --premcolor: rgb(60, 60, 255);
    --prekcolor: rgb(88, 92, 246);
    --preopcolor: rgb(170, 170, 170);
    --preccolor: rgb(76, 136, 107);
    --prelncolor: rgb(127, 127, 127);
    --prehlcolor: rgb(48, 48, 22);
  }
}

#dark-mode-toggle:checked ~ * {
  --bgcolor: rgb(30, 31, 32);
  --fontcolor: rgb(210, 210, 210);
  --fontcoloralt: rgb(166, 166, 166);
  --linkcolor: rgb(238, 51, 51);
  --bordercolor: rgb(77, 77, 77);
  --prebgcolor: rgb(20, 20, 21);
  --prebgcolor2: rgb(10, 10, 11);
  --prescolor: rgb(3, 106, 6);
  --premcolor: rgb(60, 60, 255);
  --prekcolor: rgb(88, 92, 246);
  --preopcolor: rgb(170, 170, 170);
  --preccolor: rgb(76, 136, 107);
  --prelncolor: rgb(127, 127, 127);
  --prehlcolor: rgb(48, 48, 22);
}

@media (prefers-color-scheme: dark) {
  #dark-mode-toggle:checked ~ * {
    --bgcolor: rgb(250, 250, 250);
    --fontcolor: rgb(26, 26, 26);
    --fontcoloralt: rgb(88, 88, 90);
    --linkcolor: rgb(238, 51, 51);
    --bordercolor: rgb(230, 230, 230);
    --prebgcolor: rgb(240, 240, 240);
    --prebgcolor2: rgb(225, 225, 225);
    --prescolor: rgb(3, 106, 6);
    --premcolor: rgb(0, 0, 205);
    --prekcolor: rgb(88, 92, 246);
    --preopcolor: rgb(104, 118, 135);
    --preccolor: rgb(76, 136, 107);
    --prelncolor: rgb(127, 127, 127);
    --prehlcolor: rgb(255, 255, 204);
  }
}

/* general page setup */
html {
  font-family: Times, serif;
  letter-spacing: 0.016em;
}

body {
  margin: 0px;
  height: 100vh;
  width: 100%;
}

.body-box {
  max-width: 650px;
  height: 100%;
  margin: 0px auto;
  padding: calc(3 * var(--line-height)) 0;
}

/* dark mode */
.outer {
  min-height: 100vh;
  width: 100%;
  background: var(--bgcolor);
  color: var(--fontcolor);
}

#dark-mode-toggle:checked ~ .outer {
  background: var(--bgcolor);
  color: var(--fontcolor);
}

.toggle-bg {
  display: flex;
  margin: 0px;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: var(--fontcoloralt);
  align-items: center;
}

#dark-mode-toggle:checked ~ .outer .toggle-bg {
  background: var(--fontcoloralt);
}

.toggle-circle {
  height: 16px;
  width: 16px;
  margin-left: 3px;
  border-radius: 50%;
  background: var(--bgcolor);
}

#dark-mode-toggle:checked ~ .outer .toggle-circle {
  height: 15px;
  width: 15px;
  margin-left: 22px;
  background: var(--bgcolor);
}

#dark-mode-toggle {
  display: none;
}

/* main i.e. the actual content */
main * {
  margin: var(--line-height) 0 0 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.03em;
}

p, li {
  font-size: var(--body-font-size);
}

sup, sub {
  font-size: calc(0.9 * var(--small-font-size));
}

a {
  color: var(--fontcolor);
  text-decoration-style: dotted;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  color: var(--linkcolor);
}

/* header */
header h1 {
  font-size: var(--h1-font-size);
  line-height: 1.1;
  margin: 0;
  padding-bottom: calc(0.25 * var(--line-height));
  border-bottom: 1px solid var(--fontcolor);
}

nav {
  margin-top: calc(0.25 * var(--line-height));
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a, nav li {
  color: var(--fontcoloralt);
  font-size: var(--small-font-size);
  text-decoration: none;
}

nav li:first-child {
  padding: 0 calc(0.18 * var(--line-height)) 0 0;
}

nav li:not(:first-child) {
  padding: 0 calc(0.18 * var(--line-height));
}

nav li:not(:last-child) {
  border-right-color: var(--fontcolor);
  border-right-style: solid;
  border-right-width: 1px;
}

/* footer */
footer {
  margin: calc(2.5 * var(--line-height)) 0 0 0;
  padding-top: calc(1.5 * var(--line-height));
  border-top: 1px solid var(--bordercolor);
}

footer a {
  margin-right: calc(0.25 * var(--line-height));
  color: var(--fontcoloralt);
  text-decoration: none;
}

/* home page */
.latest-posts ul, .latest-posts a {
  list-style: none;
  text-decoration: none;
}

.latest-posts a:hover {
  text-decoration: underline;
}

.latest-posts .date {
  display: block;
  margin-top: calc(0.36 * var(--line-height));
  font-size: var(--small-font-size);
  color: var(--fontcoloralt);
}

.latest-posts a.internal-link {
  font-size: var(--small-font-size);
  color: var(--fontcoloralt);
}
