/* variables */
:root {
  --bgcolor: rgb(250, 250, 250);
  --fontcolor: rgb(26, 26, 26);
  --fontcoloralt: rgb(88, 88, 90);
  --linkcolor: rgb(238, 51, 51);
  --markbgcolor: rgb(250, 250, 157);
  --bordercolor: rgb(230, 230, 230);
  --prebgcolor: rgb(237, 237, 237);
  --prescolor: rgb(3, 106, 6);
  --premcolor: rgb(0, 0, 205);
  --prekcolor: rgb(88, 92, 246);
  --preopcolor: rgb(104, 118, 135);
  --preccolor: rgb(76, 136, 107);
  --prelncolor: rgb(127, 127, 127);
  --prehlcolor: rgb(255, 255, 204);
  --body-font-size: 1.25rem;
  --line-height: 1.7rem; 
  --h1-font-size: 1.75rem; 
  --h2-font-size: 1.5rem; 
  --quote-font-size: 1.125rem;
  --small-font-size: 1rem; 
}

@media (max-width: 650px) {
  :root {
    --body-font-size: 1.125rem;
    --line-height: 1.575rem;
    --h1-font-size: 1.625rem;
    --h2-font-size: 1.375rem;
    --small-font-size: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgcolor: rgb(30, 31, 32);
    --fontcolor: rgb(210, 210, 210);
    --fontcoloralt: rgb(166, 166, 166);
    --linkcolor: rgb(238, 51, 51);
    --markbgcolor: rgb(84, 84, 32);
    --bordercolor: rgb(77, 77, 77);
    --prebgcolor: rgb(10, 10, 11);
    --prescolor: rgb(3, 106, 6);
    --premcolor: rgb(60, 60, 255);
    --prekcolor: rgb(88, 92, 246);
    --preopcolor: rgb(170, 170, 170);
    --preccolor: rgb(76, 136, 107);
    --prelncolor: rgb(127, 127, 127);
    --prehlcolor: rgb(48, 48, 22);
  }
}

#dark-mode-toggle:checked ~ * {
  --bgcolor: rgb(30, 31, 32);
  --fontcolor: rgb(210, 210, 210);
  --fontcoloralt: rgb(166, 166, 166);
  --linkcolor: rgb(238, 51, 51);
  --markbgcolor: rgb(84, 84, 32);
  --bordercolor: rgb(77, 77, 77);
  --prebgcolor: rgb(10, 10, 11);
  --prescolor: rgb(3, 106, 6);
  --premcolor: rgb(60, 60, 255);
  --prekcolor: rgb(88, 92, 246);
  --preopcolor: rgb(170, 170, 170);
  --preccolor: rgb(76, 136, 107);
  --prelncolor: rgb(127, 127, 127);
  --prehlcolor: rgb(48, 48, 22);
}

@media (prefers-color-scheme: dark) {
  #dark-mode-toggle:checked ~ * {
    --bgcolor: rgb(250, 250, 250);
    --fontcolor: rgb(26, 26, 26);
    --fontcoloralt: rgb(88, 88, 90);
    --linkcolor: rgb(238, 51, 51);
    --markbgcolor: rgb(250, 250, 157);
    --bordercolor: rgb(230, 230, 230);
    --prebgcolor: rgb(237, 237, 237);
    --prescolor: rgb(3, 106, 6);
    --premcolor: rgb(0, 0, 205);
    --prekcolor: rgb(88, 92, 246);
    --preopcolor: rgb(104, 118, 135);
    --preccolor: rgb(76, 136, 107);
    --prelncolor: rgb(127, 127, 127);
    --prehlcolor: rgb(255, 255, 204);
  }
}

/* general page setup */
html {
  font-family: Times, serif;
  letter-spacing: 0.02em;
}

body {
  margin: 0px;
  height: 100vh;
  width: 100%;
}

.body-box {
  max-width: 650px;
  height: 100%;
  margin: 0px auto;
  padding: calc(3 * var(--line-height)) calc(1.1 * var(--line-height))
}

/* dark mode */
.outer {
  min-height: 100vh;
  width: 100%;
  background: var(--bgcolor);
  color: var(--fontcolor);
}

#dark-mode-toggle:checked ~ .outer {
  background: var(--bgcolor);
  color: var(--fontcolor);
}

.toggle-bg {
  display: flex;
  margin: 0px;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: var(--fontcoloralt);
  align-items: center;
}

#dark-mode-toggle:checked ~ .outer .toggle-bg {
  background: var(--fontcoloralt);
}

.toggle-circle {
  height: 16px;
  width: 16px;
  margin-left: 3px;
  border-radius: 50%;
  background: var(--bgcolor);
}

#dark-mode-toggle:checked ~ .outer .toggle-circle {
  height: 15px;
  width: 15px;
  margin-left: 22px;
  background: var(--bgcolor);
}

#dark-mode-toggle {
  display: none;
}

/* main i.e. the actual content */
main {
  margin: calc(1.5 * var(--line-height)) 0 0 0;
}

main * {
  margin: var(--line-height) 0 0 0;
  padding: 0;
  line-height: var(--line-height);
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.03em;
}

h2, h3 {
  margin: calc(1.5 * var(--line-height)) 0 0 0;
}

p, li {
  font-size: var(--body-font-size);
}

sup, sub {
  font-size: calc(0.9 * var(--small-font-size));
}

a {
  color: var(--fontcolor);
  text-decoration-style: dotted;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  color: var(--linkcolor);
}

ul, ol {
  list-style-position: outside;
  padding-left: var(--line-height);
}

main li+li, main ul li ul, main ul li ul li {
  margin: calc(0.5 * var(--line-height)) 0 0 0;
}

mark {
  background-color: var(--markbgcolor);
  color: var(--fontcolor);
}

/* header */
header h1 {
  font-size: var(--h1-font-size);
  line-height: calc(1.1 * var(--line-height));
  margin: 0;
  padding-bottom: calc(0.25 * var(--line-height));
  border-bottom: 1px solid var(--fontcolor);
}

nav {
  margin-top: calc(0.25 * var(--line-height));
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a, nav li {
  color: var(--fontcoloralt);
  font-size: var(--small-font-size);
  text-decoration: none;
}

nav li:first-child {
  padding: 0 calc(0.18 * var(--line-height)) 0 0;
}

nav li:not(:first-child) {
  padding: 0 calc(0.18 * var(--line-height));
}

nav li:not(:last-child) {
  border-right-color: var(--fontcolor);
  border-right-style: solid;
  border-right-width: 1px;
}

/* footer */
footer {
  margin: calc(2.5 * var(--line-height)) 0 0 0;
  padding-top: calc(1.5 * var(--line-height));
  border-top: 1px solid var(--bordercolor);
}

footer a {
  margin-right: calc(0.25 * var(--line-height));
  color: var(--fontcoloralt);
  text-decoration: none;
}

/* home page */
.latest-posts ul, .latest-posts a {
  list-style: none;
  text-decoration: none;
}

.latest-posts a:hover {
  text-decoration: underline;
}

.latest-posts li {
  margin: var(--line-height) 0 0 0;
}

.latest-posts .date {
  display: block;
  margin-top: calc(0.18 * var(--line-height));
  font-size: var(--small-font-size);
  color: var(--fontcoloralt);
}

.latest-posts a.internal-link {
  font-size: var(--small-font-size);
  color: var(--fontcoloralt);
}

.latest-posts a:hover.internal-link {
  color: var(--linkcolor);
}

/* blog index */
.all-posts ul, .all-posts a {
  list-style: none;
  text-decoration: none;
}

.all-posts a:hover {
  text-decoration: underline;
}

.all-posts li {
  margin: var(--line-height) 0 0 0;
}

.all-posts .date {
  display: block;
  margin-top: calc(0.18 * var(--line-height));
  font-size: var(--small-font-size);
  color: var(--fontcoloralt);
}

/* block quotes */
blockquote {
  margin: var(--line-height) 0;
  padding: 0 1.5em;
}

blockquote p {
  font-size: var(--quote-font-size);
  line-height: calc(0.8 * var(--line-height));
}

/* footnotes */
.footnotes p, .footnotes li, .footnotes a:link {
  font-size: var(--small-font-size);
}

.footnotes hr {
  display: none;
}

/* code blocks */
pre {
  background-color: var(--prebgcolor);
  /* https://www.w3schools.com/cssref/pr_text_white-space.asp */
  /* Preserve whitespace. Wrap text only at line breaks. */
  /* So do NOT auto-wrap the code lines. */
  white-space: pre;
  overflow-x: auto;    /* Enable horizontal scroll bars (only for overflowing code) */
  padding: calc(0.6 * var(--line-height));
  border-width: 1px;
  border-radius: 3px;
  border-color: var(--bordercolor);
  border-style: solid;
}

pre code {
  background-color: transparent;
  border: none;
  padding: 0;
}

.chroma * {
  margin: 0;
}

.chroma tr td:first-child pre {
  padding: calc(0.6 * var(--line-height)) calc(0.2 * var(--line-height));
}

.chroma tr td:last-child {
  width: 100%;
}

/* inline code */
code {
  background-color: var(--prebgcolor);
  border-width: 1px;
  border-radius: 3px;
  border-color: var(--bordercolor);
  border-style: solid;
  padding: calc(0.03 * var(--line-height)) calc(0.1 * var(--line-height));
}
