/* Background */ .chroma { 
  background-color: var(--prebgcolor);
}
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: var(--linkcolor); }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%; background-color: var(--prehlcolor); }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: var(--prelncolor); }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: var(--prelncolor); }
/* Keyword */ .chroma .k { color: var(--prekcolor); }
/* KeywordConstant */ .chroma .kc { color: var(--prekcolor); }
/* KeywordDeclaration */ .chroma .kd { color: var(--prekcolor); }
/* KeywordNamespace */ .chroma .kn { color: var(--prekcolor); }
/* KeywordPseudo */ .chroma .kp { color: var(--prekcolor); }
/* KeywordReserved */ .chroma .kr { color: var(--prekcolor); }
/* KeywordType */ .chroma .kt { color: var(--prekcolor); }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na {  }
/* NameBuiltin */ .chroma .nb {  }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc {  }
/* NameConstant */ .chroma .no {  }
/* NameDecorator */ .chroma .nd {  }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne {  }
/* NameFunction */ .chroma .nf {  }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt {  }
/* NameVariable */ .chroma .nv {  }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { color: var(--prescolor); }
/* LiteralStringAffix */ .chroma .sa { color: var(--prescolor); }
/* LiteralStringBacktick */ .chroma .sb { color: var(--prescolor); }
/* LiteralStringChar */ .chroma .sc { color: var(--prescolor); }
/* LiteralStringDelimiter */ .chroma .dl { color: var(--prescolor); }
/* LiteralStringDoc */ .chroma .sd { color: var(--prescolor); }
/* LiteralStringDouble */ .chroma .s2 { color: var(--prescolor); }
/* LiteralStringEscape */ .chroma .se { color: var(--prescolor); }
/* LiteralStringHeredoc */ .chroma .sh { color: var(--prescolor); }
/* LiteralStringInterpol */ .chroma .si { color: var(--prescolor); }
/* LiteralStringOther */ .chroma .sx { color: var(--prescolor); }
/* LiteralStringRegex */ .chroma .sr { color: var(--prescolor); }
/* LiteralStringSingle */ .chroma .s1 { color: var(--prescolor); }
/* LiteralStringSymbol */ .chroma .ss { color: var(--prescolor); }
/* LiteralNumber */ .chroma .m { color: var(--premcolor); }
/* LiteralNumberBin */ .chroma .mb { color: var(--premcolor); }
/* LiteralNumberFloat */ .chroma .mf { color: var(--premcolor); }
/* LiteralNumberHex */ .chroma .mh { color: var(--premcolor); }
/* LiteralNumberInteger */ .chroma .mi { color: var(--premcolor); }
/* LiteralNumberIntegerLong */ .chroma .il { color: var(--premcolor); }
/* LiteralNumberOct */ .chroma .mo { color: var(--premcolor); }
/* Operator */ .chroma .o { color: var(--preopcolor); }
/* OperatorWord */ .chroma .ow { color: var(--preopcolor); }
/* Punctuation */ .chroma .p { color: var(--preopcolor); }
/* Comment */ .chroma .c { color: var(--preccolor); font-style: italic; }
/* CommentHashbang */ .chroma .ch { color: var(--preccolor); font-style: italic; }
/* CommentMultiline */ .chroma .cm { color: var(--preccolor); font-style: italic; }
/* CommentSingle */ .chroma .c1 { color: var(--preccolor); font-style: italic; }
/* CommentSpecial */ .chroma .cs { color: var(--preccolor); font-style: italic; }
/* CommentPreproc */ .chroma .cp { color: var(--preccolor); font-style: italic; }
/* CommentPreprocFile */ .chroma .cpf { color: var(--preccolor); font-style: italic; }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd {  }
/* GenericEmph */ .chroma .ge {  }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi {  }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs {  }
/* GenericSubheading */ .chroma .gu {  }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
