<header>
  {{ if .IsHome }}
    <h1>{{ .Site.Title }}</h1>
  {{ else }}
    <h1>{{ .Title }}</h1>
  {{ end }}

  <nav>
    <div class="navbar">
      <ul class="navlinks">
        {{ range .Site.Menus.main }}
          <li class="navlink"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
        {{ if .Site.Params.darkmodetoggle }}
          <li>
            <label for="dark-mode-toggle">
              <span class="toggle-bg">
                <span class="toggle-circle"></span>
              </span>
            </label>
          </li>
        {{ end }}
      </ul>
    </div>
  </nav>
</header>