<header>
  <h1>{{ .Site.Title }}</h1>

  <nav>
    <div class="navbar">
      {{ $list := (.Site.Menus.main) }}
      {{ $len := (len $list) }}
      <ul class="navlinks">
        
        {{ range $index, $element := $list }}
          <li
            {{ if eq (add $index 1) $len }}
            class="navlink"
            {{ else }}
            class="navlink-border"
            {{ end }}
            href="{{ .URL | relURL }}"
          ><a>{{ .Name }}</a></li>
        {{ end }}
        {{ if .Site.Params.darkmodetoggle }}
          <li class="toggle-box">
            <label for="dark-mode-toggle">
              <span class="toggle-bg">
                <span class="toggle-circle"></span>
              </span>
            </label>
          </li>
        {{ end }}
      </ul>
    </div>
  </nav>
</header>